body {
  margin: 50px;
  padding: 0;
  background: #f5cac3;
  color: #1d3557;
}

main {
  background: #f1faee;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 0px 20px black;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  text-shadow: 0px 0px 1px black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h4 {
  font-style: italic;
  font-size: 17px;
  
}


.header {
 width: 700px;
 margin-left: 30px;

}


.address {
width: 200px;
font-size: 14px;
text-align: left;
margin-top: 30px;
margin-right: 25px;
padding: 10px;
}

.picture {
  background-image: url(/maia.png);
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  width: 150px;
  height: 150px;
  margin: 40px 0px 0px 0px;
  
}

.address ul{

  background-color: #f5cac3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  
}

.address > ul li {
    margin-right: 0px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    line-height: 1.5;
}

li {

  font-size: 17px;
}

.icon-1 {
  background-image: url(/home.png);
  padding-left: 30px;
  
  
}

.icon-2 {
  background-image: url(/mail.png);
  padding-left: 30px;
}

.icon-3 {
  background-image: url(/phone1.png);
  padding-left: 30px;
}

section {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.experience {
  
  width: 600px;
  margin-bottom: 40px;
  margin-left: 100px;
  
}

.experience > h3 {
  
  padding: 0px
}

.experience > ul {

  list-style: disc;
}

.sidebar {

  
  width: 200px;
  background: #f5cac3;
  margin-left: 150px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px black;
}

ul {

  list-style: none;
  padding: 0;

}

@keyframes signature {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.signature-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: signature 10s linear 1;
  font-size: 45px;

}

.date {
  font-weight: bold;
  

}

h3 {
  padding: 0;
  margin: 0px;
}

.education {
 
 width: 500px;
}


